.scene, .a3d {
  display: grid;
}

.scene {
  /* prevent scrollbars */
  overflow: hidden;
  /* for 3D look; smaller = more extreme effect */
  perspective: var(--perspective, 35em);
  mask: linear-gradient(90deg, #0000, red 20% 80%, #0000);
  height: 100%;
  width: 100%;
  min-height: 500px;
  place-content: center;
}

.a3d {
  place-self: center;
  /* don't flatten 3D transformed children */
  transform-style: preserve-3d;
}

.animate {
  animation: ry var(--duration, 32s) linear infinite;
}

/* simplest y axis rotation */
@keyframes ry {
  to {
    transform: rotateY(1turn);
  }
}

.card {
  --ba: calc(1turn / var(--n));
  grid-area: 1 / 1;
  width: var(--w);
  aspect-ratio: 7 / 10;
  object-fit: cover;
  border-radius: 1.5em;
  backface-visibility: hidden;
  /* transform chain: rotate, then translate */
  transform: 
    rotateY(calc(var(--i) * var(--ba)))
    translateZ(calc(-1 * (0.5 * var(--w) + var(--gap, 0.5em)) / tan(0.5 * var(--ba))));
}

@media (prefers-reduced-motion: reduce) {
  .a3d {
    animation-duration: 128s;
  }
}
